body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
}

.site-wrapper {
  background-color: #849d8f;
  background-image: url(../img/slide1.png);
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slide2.png");
}

.site-wrapper::after {
  background-image: url("../img/slide3.png")
}

.main-header {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.container {
  margin: 0 auto;
  padding: 0 27px;
  width: 1200px;
  box-sizing: border-box;
}

.container h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin: 0;
  padding-top: 1px;
  padding-bottom: 2px;
}

.container .filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 17px;
  padding-bottom: 28px;
  padding-right: 286px;
}


.logo-menu-wrapper {
  display: flex;
}

.main-menu-element {
  padding: 7px 14px;
  border-radius: 16px;
}

.main-menu-element:active {
  box-shadow: inset 0 2px 1px 0 #696969;
}

.main-header-logo {
  width: 154px;
  height: 64px;
  margin-right: 9px;
  margin-top: 9px;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 4px;
  align-items: center;
}

.user-navigation {
  display: flex;
  margin: 0;
  padding:0;
  padding-top: 11px;
  position: relative;
}

.user-navigation li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  border-radius: 50%;
}

.user-navigation li:not(:last-of-type){
  margin-right: 10px;
}

.contact-breadcrumbs-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.breadcrumbs {
  display: flex;
  align-items: flex-end;
  padding-top: 27px;
}

.breadcrumbs ul {
  display: flex;
  margin: 0;
  padding: 0;
  padding-bottom: 3px;
  list-style: none;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs ul li {
  position: relative;
  padding-right: 21px;
}

.breadcrumbs li:not(:last-of-type)::after {
  content: " » ";
  position: absolute;
  top: 1px;
  left: 60px;
  color: #ffffff;
}

.contact-wrapper {
  width: 267px;
  margin-left: auto;
}

.contact-wrapper p {
  text-align: right;
  margin: 0;
}

.contact-wrapper .phone {
  display: block;
  padding-top: 4px;
}

.background-blue {
  background-color: #8996a6;
}

.background-beige {
  background-color: #9d8b84;
}

.background-olive {
  background-color: #849d8f;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-menu {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.site-navigation,
.site-navigation ul,
.user-navigation {
  list-style: none;
}

.site-navigation ul {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.main-menu-element > a {
  box-shadow: 0 1px 0 0 #adbdb4;
}

.main-menu-element:hover > a,
.main-menu-element:focus > a,
.main-menu-element:active > a {
  box-shadow: none;
}

.main-menu-element > a:hover,
.main-menu-element > a:focus,
.main-menu-element > a:active {
  color: #000000;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
  text-decoration: none;
}

.site-navigation li:hover,
.site-navigation li:focus,
.site-navegation li:active {
  background-color: #ffffff;
}

.site-navigation li:hover a,
.site-navigation li:focus a {
  color: #000000;
}

.sub-menu {
  position: absolute;
  display: none;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  padding-top: 6px;
  bottom: -177px;
  left: -6px;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.40);
  background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  z-index: 1;
}

.sub-menu li:hover:not(:first-of-type),
.sub-menu li:focus:not(:first-of-type) {
  background-color: #fbded7;
}

.sub-menu-container {
  position: relative;
}

.sub-menu li:first-of-type {
  position: relative;
  padding-bottom: 12px;
  padding-top: 10px;
  border-radius: 5px 5px 0 0;
}

.sub-menu li:first-of-type::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 6px;
  background-color: #d1d0ce;
  height: 1px;
  width: 128px;
}

.sub-menu-container:hover .sub-menu,
.sub-menu-container:focus .sub-menu {
  display: block;
}

.sub-menu li{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  width: 123px;
  background: #ffffff;
}

.sub-menu li:active:not(:first-of-type) {
  background-color: #f6b5a5
}

.site-navigation .active {
  color: #ffffff;
  background-color: #d07058;
}

.site-navigation .active a {
box-shadow: none;
}

.user-navigation .login-link,
.user-navigation .search-link,
.user-navigation .basket {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);

  border-radius: 16px;
  text-decoration: none;
  display: block;
}

.user-navigation .login-link:hover,
.user-navigation .search-link:hover,
.user-navigation .basket:hover,
.user-navigation .login-link:focus,
.user-navigation .search-link:focus,
.user-navigation .basket:focus {
  color: #000000;
  background-color: #ffffff;
}

.user-navigation a:hover path,
.user-navigation a:focus path {
  fill: #000000;
}

.site-navigation .active-item,
.main-header p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.user-navigation .search-link {
  position: relative;
  width: 33px;
  height: 33px;
}


.loupe {
  position: absolute;
  top: 6px;
  left: 8px;
  width: 18px;
  height: 18px;
}

.user-navigation .login-link {
  position: relative;
  width: 100%;
  padding-right: 16px;
  padding-top: 7px;
  padding-bottom: 9px;
  padding-left: 45px;
}

.login-wrapper:hover > .login-form,
.login-wrapper:focus > .login-form {
  display: block;
}

.entrance {
  position: absolute;
  top: 4px;
  left: 18px;
  width: 22px;
  height: 22px;
}

.user-navigation .basket {
  position: relative;
  width: 100%;
  padding-right: 17px;
  padding-top: 7px;
  padding-bottom: 9px;
  padding-left: 45px;
}

.basket-index::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 17px;
  width: 22px;
  height: 22px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.full::after,
.basket-index:hover::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 17px;
  width: 22px;
  height: 22px;
  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}



.full-basket .full {
  color: #000000;
  background-color: #ffffff;
}

.full-basket:hover > .basket-modal {
  display: block;
}


.main-header .phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}

.content {
  margin-top: -117px;
}

.slider{
  position: relative;
  padding-top: 392px;
  margin-bottom: 42px;
  text-align: center;
}

.slide {
  display: none;
}

.slider-item img {
  display: block;
  margin: 0 auto;
}

.slider-item h2 {
  margin: 0;
  margin: 0 auto;
  margin-bottom: 31px;
}

.slider-item .button {
  display: inline-block;
  padding: 8px 40px 10px 40px;;
  line-height: 44px;
  font-size: 32px;
  text-align: center;
  vertical-align: top;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
}

.button {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  border-radius: 22px;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;

  color: #ffffff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  text-decoration: none;
}

.button:hover,
.button:focus {
  color: #ffffff;
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  top: 563px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover,
.slider-controls label:focus {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider-controls label:active {
  background-color: rgba(255, 255, 255, 1);
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide3.png");
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

.catalog-item a {
  text-decoration: none;
  z-index: 3;
}

.catalog-item-title:hover,
.catalog-item-title:focus,
.catalog-item-title:active {
  color: #ffbc9e;
  box-shadow: 0 1px 0 0 #a7a294;
}

.catalog-item-link h4 {
  position: relative;
  margin: 0;
  text-align: center;
  z-index:2;
  width: 258px;
  left: 3px;
}

.slider h2 {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
}

.offers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.offers h3 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.offers p {
  font-size: 18px;
  font-weight: 700;
}

.offers-item {
  display: flex;
  flex-direction: column;
  width: 560px;
  min-height: 229px;
  padding-right: 21px;
  padding-top: 15px;
  padding-left: 18px;
  padding-bottom:24px;
  background-repeat: no-repeat;
  border-radius: 15px;
  box-sizing: border-box;
}

.offers-item h3 {
  margin: 0;
  margin-bottom: 16px;
}

.offers-item p {
  margin: 0;
  padding-left: 1px;
}

.offers-button {
  margin-left: auto;
  margin-top: auto;
}

.offers-item .button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 23px;
  padding-left: 21px;
  margin-top: 43px;
  border-radius: 22.5px;
}

.offers-item-crimson {
  background-size: cover;
  background-image: url("../img/crimson-background.jpg");
  background-color: #b65972;
}

.offers-item-chockolate {
  backgroun-size: cover;
  background-image: url("../img/chockolate-background.jpg");
  background-color: #654336;
}

.catalog{
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  position: relative;
  width: 267px;
  margin-right: 26px;
  padding-bottom: 45px;
}

.catalog-item:hover::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -13px;
  width: 293px;
  min-height: calc(100% + 43px);
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.40);
  z-index: 1;
}


.catalog-item:nth-of-type(4n) {
  margin-right: 0;
}

.catalog-item .button {
  position: absolute;
  bottom: -14px;
  left: 0;
  right: 0;
  display: none;
  padding: 10px 0;
  text-align: center;
  width: 200px;
}

.catalog-item:hover .button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog-item-image img {
  border-radius: 50%;
}

.catalog-item-image {
  margin: 0;
  position: relative;
  /* z-index: 2; */
}

.catalog-item:hover .catalog-item-image {
  z-index: 2;
}

.catalog-item-hit .catalog-item-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 62px;
  height: 62px;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
}

.catalog-item-price {
  position: absolute;
  top: 209px;
  left: -2px;
  margin: 0;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.50);
  z-index: 2;
}

.catalog-item-price b {
  font-size: 45px;
  line-height: 45px;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-price span {
  line-height: 45px;
  font-weight: 700;
  font-size: 30px;
  margin-right: -3px;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-price .ruble {
  font-size: 45px;
}

.catalog-item-title {
  position: relative;
  top: 7px;
  font-weight: 500;
  color: #ffffff;
  box-shadow: 0 1px 0 0 #adbdb4;
}

.features {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  padding-bottom: 25px;
  background-image: url("../img/wafer-background.jpg");
  background-repeat: no-repeat;
  background-color: #ebdfc7;
  border-radius: 15px;
}

.features h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  margin: 0;
  padding-top: 25px;
  padding-left: 20px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-left: 20px;
}

.features-list li{
  position: relative;
  padding-top: 16px;
}

.feature-item1::before {
  content: "";
  position: absolute;
  top: 9px;
  width: 49px;
  height: 49px;
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
}

.feature-item p {
  margin: 0;
  padding-left: 56px;
  padding-top: 5px;
  padding-right: 13px;
  width: 490px;
}

.feature-item2::before {
  content: "";
  position: absolute;
  top: 10px;
  width: 49px;
  height: 49px;
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
}

.feature-item3::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -2px;
  width: 49px;
  height: 49px;
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
}

.feature-item4::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -2px;
  width: 49px;
  height: 49px;
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
}

.news-subscribe-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.news-in-blog {
  width: 560px;
  padding-top: 23px;
  padding-left: 19px;
  box-sizing: border-box;
  font-weight: 500;
  color: #323232;
  background-image: url("../img/strawberry-background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  border-radius: 14px;
}

.news-in-blog h4 {
  margin: 0;
}

.news-in-blog a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.news-in-blog a:hover,
.news-in-blog a:focus,
.news-in-blog a:active {
  color: #e84d37;
}

.news-in-blog p {
  margin: 0;
  padding-top: 5px;
  padding-right: 230px;
  padding-bottom: 80px;
}

.subscribe {
  margin: 5px;
  margin-left: 6px;
  background-color: #f8f7f4;
  border-radius: 8px;
}

.subscribe-wrapper {
  width: 560px;
  box-sizing: border-box;
  background-image: url("../img/email-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.subscribe-form {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 35px;
  padding-top: 26px;
}

.subscribe-form input {
  width: 369px;
  padding: 13px;
  padding-top: 12px;
  padding-left: 14px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  box-sizing: border-box;
}

.subscribe-form .button {
  vertical-align: baseline;
  height: 42px;
  border-radius: 21px;
  padding: 7px 18px;
  margin-left: 7px;
  box-sizing: border-box;
}

.subscribe p {
  color: #5a5a5a;
  margin: 0;
  padding-bottom: 36px;
  padding-top: 2px;
  box-sizing: border-box;
}

.map {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin: 0 -27px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-color: #f7f1d9;
  
}

.map::before {
  content: "";
  position: absolute;
  top: 170px;
  left: 302px;
  width: 182px;
  height: 110px;
  background-image: url("../img/shadow.png")
}

.map::after {
  content: "";
  position: absolute;
  top: 138px;
  left: 266px;
  width: 80px;
  height: 140px;
  background-image: url("../img/pin.svg")
}

.address {
  display: flex;
  flex-direction: column;
  width: 302px;
  margin: 62px 27px;
  padding: 25px;
  padding-top: 29px;
  padding-bottom: 31px;
  background-color: #ffffff;
  border-radius: 15px;
  box-sizing: border-box;
}

.address p {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-bottom: 18px;

}

.address span {
  width:155px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
}

.phone-wrapper span {
  width: 175px;
  padding-bottom: 7px;
}

.address b {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
}

.address a {
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #323232;
  padding-bottom: 3px;
}

.address .button {
  margin: 0;
  padding: 11px 0;
}

.footer-wrapper {
  display: flex;
  margin-top: 18px;
  justify-content: space-between;
}

.social {
  display: flex;
  margin: 0;
  margin-top: 18px;
  padding: 0;
  list-style: none;
  width: 267px;
}

.social li {
  margin-right: 9px;
  padding: 4px;
}

.social-btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
}

.social-btn-tw,
.social-btn-tw:active {
  background-image: url("../img/twitter.svg");
  opacity: 0.8;
}

.social-btn-tw::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  opacity: 0.5;
  left: -4px;
  top: -4px;
}

.social-btn-tw:hover::before,
.social-btn-tw:focus::before,
.social-btn-tw:active::before {
  opacity: 0.7;
}

.social-btn-tw:hover,
.social-btn-tw:focus {
  background-image: url("../img/twitter.svg");
  opacity: 1;
}



.social-btn-inst,
.social-btn-inst:active {
  background-image: url("../img/instagram.svg");
  opacity: 0.8;
}

.social-btn-inst::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  opacity: 0.5;
  left: -4px;
  top: -4px;
}

.social-btn-inst:hover::before,
.social-btn-inst:focus::before,
.social-btn-inst:active::before {
  opacity: 0.7;
}

.social-btn-inst:hover,
.social-btn-inst:focus {
  background-image: url("../img/instagram.svg");
  opacity: 1;
}


.social-btn-fb,
.social-btn-fb:active {
  background-image: url("../img/fb.svg");
  opacity: 0.8;
}

.social-btn-fb::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  opacity: 0.5;
  left: -4px;
  top: -4px;
}

.social-btn-fb:hover::before,
.social-btn-fb:focus::before,
.social-btn-fb:active::before {
  opacity: 0.7;
}

.social-btn-fb:hover,
.social-btn-fb:focus {
  background-image: url("../img/fb.svg");
  opacity: 1;
}

.social-btn-vk,
.social-btn-vk:active {
  background-image: url("../img/vk.svg");
  opacity: 0.8;
}

.social-btn-vk::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  opacity: 0.5;
  left: -4px;
  top: -4px;
}

.social-btn-vk:hover::before,
.social-btn-vk:focus::before,
.social-btn-vk:active::before {
  opacity: 0.7;
}

.social-btn-vk:hover,
.social-btn-vk:focus {
  background-image: url("../img/vk.svg");
  opacity: 1;
}

.footer-menu {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  list-style: none;
  padding-left: 105px;
  padding-right: 125px;
  padding-bottom: 16px;
  margin: 13px 0;
}

.footer-menu li {
  width: 118px;
  padding-left: 24px;
}

.footer-menu li:last-of-type {
  width: 163px;
}

.footer-menu a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  box-shadow: 0 1px 0 0 #adbdb4;
}

.footer-menu a:hover,
.footer-menu a:focus,
.footer-menu a:active,
.htmlacademy:hover,
.htmlacademy:focus,
.htmlacademy:active,
.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;
  box-shadow: 0 1px 0 0 #a7a294;
}

.htmlacademy,
.breadcrumbs a {
  color: #ffffff;
  text-decoration: none;
  box-shadow: 0 1px 0 0 #adbdb4;
}

.footer-menu li:first-of-type a{
  font-weight: 700;
}

.footer-menu li:first-of-type::before {
  content: "";
  position: absolute;
  top: 6px;
  left:107px;
  width: 15px;
  height: 13px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
}

.htmlacademy-link {
  display: flex;
  width: 267px;
  flex-direction: column;
}

.htmlacademy-logo {
  position: relative;
  top: 1px;
  left: -2px;
  align-self: center;
}

.htmlacademy-link p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  align-self: flex-end;
  margin: 0;
}

.paginator {
  display: inline-block;
  width: 100%;
  text-align: right;
  box-shadow: 0 1px 0 0 #adbdb4;
  margin-top: 43px;
  padding-bottom: 28px;
}

.paginator ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.paginator li {
  display: inline-block;
  list-style: none;
  text-align: center;
  position: relative;
  top: 1px;
}

.paginator li:first-of-type {
  padding-right: 5px;
}

.paginator li:last-of-type {
  padding-left: 10px;
}

.paginator a {
  display: block;
  text-align: center;
  position: relative;
  top: -2px;
  width: 27px;
  height: 27px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  border-radius: 50%;
}

.paginator li:nth-child(2) {
  left: 5px;
}

.paginator li:nth-child(3) {
  left: 2px;
}

.paginator li:nth-child(4) {
  left: 1px;
}

.paginator li:nth-child(5) {
  left: -1px;
}

.paginator li:nth-child(6) {
  left: -3px;
}

.paginator .page:hover,
.paginator .page:focus {
  color: #ffffff;
  background-color: #aabbb1;
}

.paginator .page:active {
  color: #000000;
  background-color: #ffffff;
}

.paginator .prev {
  width: 8px;
  transform: rotate(180deg);
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.paginator .next {
  width: 8px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.arrow-disabled {
  opacity: 0.2;
}

.filter .subtitle {
  font-size: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  padding-left: 15px;
  padding-top: 3px;
}

.filter-range-title {
  position: relative;
  font-size: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  padding-left: 15px;
  padding-top: 3px;
}
.filter-range-title::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 114px;
  width: 7px;
  height: 2px;
  background: #ffffff;
}

.sorting-wrapper {
  position: relative;
  width: 193px;
  padding-top: 3px;
  padding-bottom: 12px;
}

.sorting-wrapper label {
  padding-left: 1px;
}

.sorting {
  top: 5px;
  left: 0px;
  padding-left: 13px;
  padding-bottom: 9px;
  padding-top: 9px;
  padding-right: 32px;
  border: none;
  border-radius: 18px;
  color: #ffffff;
  background-color: #aabbb1;
}

.select-arrow {
  position: relative;
  top: 4px;
  border-radius: 18px;
}

.select-arrow::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 168px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5.5px 0 5.5px;
  border-color: #ffffff transparent transparent transparent;
  z-index: 4;
  pointer-events: none;
}

.select-arrow:hover::before,
.select-arrow:focus::before,
.select-arrow:active::before {
  border-color: #000000 transparent transparent transparent;
}

.sorting:hover,
.sorting:focus {
  color: #000000;
  background-color: #ffffff;
}

.arrow {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.arrow::-ms-expand {
  display: none;
}

.price-container {
  width: 220px;
  padding-top:3px;
  padding-bottom: 11px;
}

.price-controls {
  margin: 0;
  margin-top: 4px;
  margin-right: 1px;
  padding: 7px;
  padding-bottom: 2px;
  background-color: #aabbb1;
  border-radius: 22px;
}
.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.filter-range-title input {
  width: 66px;
  color: #ffffff;
  border: none;
  background: none;
}

.range-controls {
  position: relative;
  margin-bottom: 28px;
}

.range-controls .scale {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 176px;
  height: 4px;
  background: #d1dad3;
}

.range-controls .bar {
  position: absolute;
  left: 32px;
  width: 80px;
  height: 4px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 22px;
  height: 22px;
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.range-toggle:hover {
  transform: scale(1.05);
}

.range-toggle-min {
  top: 2px;
  left: 28px;
}

.range-toggle-max {
  top: 2px;
  left: 126px;
}

.fat-container {
  width: 417px;
  padding-top: 3px;
}

.fat-wrapper {
  margin: 0;
  margin-top: 4px;
  margin-right: 3px;
  padding: 7px;
  background-color: #aabbb1;
  border-radius: 22px;
}

.fat-radio {
  position: relative;
  cursor: pointer;
}


.fat-radio input[type="radio"] + .radio-indicator {
  position: absolute;
  top: -1px;
  left: 6px;
  width: 16px;
  height: 16px;
  border: 3px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.fat-radio input[type="radio"]:hover + .radio-indicator,
.fat-radio input[type="radio"]:focus + .radio-indicator {
  border-color: rgba(255, 255, 255, 1);
}

.fat-radio input[type="radio"]:checked + .radio-indicator::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
}

.fat-radio input[type="radio"]:checked:hover + .radio-indicator::before {
  background-color: rgba(255, 255, 255, 1);
}

.fat-radio input[type="radio"]:disabled + .radio-indicator {
  border-color: rgba(255, 255, 255, 0.4);
}

.fat-radio input[type="radio"]:checked:disabled + .radio-indicator::before {
  background-color: rgba(255, 255, 255, 0.4);
}

.caption1 {
  vertical-align: middle;
  padding-left: 38px;
}

.fat-radio input[type="radio"] + .radio-indicator2 {
  left: 14px;
}

.caption2 {
padding-left: 46px;
}

.fat-radio input[type="radio"] + .radio-indicator3 {
  left: 13px;
}

.caption3 {
  padding-left: 45px;
}

.fat-radio input[type="radio"] + .radio-indicator4 {
  left: 14px;
}

.caption4 {
  padding-left: 46px;
}

.fillers {
  width: 688px;
  margin: 0;
  margin-top: 4px;
  margin-right: 3px;
  padding: 7px;
  background-color: #aabbb1;
  border-radius: 22px;
}

.fillers-checkbox {
  position: relative;
  cursor: pointer;
}

.fillers-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0px;
  left: 9px;
  width: 24px;
  height: 24px;
  background-image: url("../img/checkbox-off.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  opacity:0.8;
}

.fillers-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
  content: "";
  position: absolute;
  top: 0px;
  left: 9px;
  width: 24px;
  height: 21px;
  background-image: url("../img/checkbox-on.svg");
  background-size: 24px;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.fillers-checkbox input[type="checkbox"]:hover:checked + .checkbox-indicator,
.fillers-checkbox input[type="checkbox"]:focus:checked + .checkbox-indicator,
.fillers-checkbox input[type="checkbox"]:hover + .checkbox-indicator,
.fillers-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
  opacity: 1;
}

.fillers-checkbox input[type="checkbox"]:disabled + .checkbox-indicator,
.fillers-checkbox input[type="checkbox"]:checked:disabled + .checkbox-indicator {
  opacity: 0.4;
}

.fillers-caption1 {
  padding-left: 40px;
}

.fillers .fillers-checkbox input[type="checkbox"] + .checkbox-indicator2 {
  left: 17px;
}

.fillers-caption2 {
  padding-left: 48px;
}

.fillers .fillers-checkbox input[type="checkbox"] + .checkbox-indicator3 {
  left: 17px;
}

.fillers-caption3 {
  padding-left: 50px;
}

.fillers .fillers-checkbox input[type="checkbox"] + .checkbox-indicator4 {
  left: 19px;
}

.fillers-caption4 {
  padding-left: 51px;
}

.fillers .fillers-checkbox input[type="checkbox"] + .checkbox-indicator5 {
  left: 17px;
}

.fillers-caption5 {
  padding-left: 50px;
}

.fillers p {
  padding-top: 25px;
}

.form-button {
  padding: 7px 27px;
  margin-top: 27px;
  margin-bottom: 13px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 18px;
  background-color: #aabbb1;
}

.form-button:hover,
.form-button:focus {
  padding: 8px 29px;
  margin-top: 27px;
  margin-bottom: 15px;
  color: #000000;
  background-color: #ffffff;
  border: none;
}

.form-button:active {
  padding: 8px 29px;
  margin-top: 27px;
  margin-bottom: 15px;
  color: #000000;
  background-color: #eaeaea;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
  border: none;
}

.paginator .current {
  color: #000000;
  border-radius: 15px;
  background-color: #ffffff;
  pointer-events: none;
}

.breadcrumbs .active-page {
  box-shadow: none;
  pointer-events: none;
}

.login-form {
  position: fixed;
  top: 58px;
  left: 50%;
  margin-left: 186px;
  display: none;
  width: 277px;
  padding: 21px 19px;
  padding-bottom: 23px;
  box-sizing: border-box;
  color: #5a5a5a;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.40);
  z-index: 2;
}

.login-form input {
  font-size: 14px;
  line-height: 24px;
  padding: 12px;
  padding-left: 12px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  width: 100%;
}

.login-form .button {
  padding: 0 24px;
  margin: 0;
}

.login-form a {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
}

.login-catalog .login-form {
  margin-left: 167px;
}

.button-link-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button-link-wrapper p {
  margin: 0;
}

.search-form {
  position: fixed;
  top: 58px;
  left: 50%;
  margin-left: 19px;
  display: none;
  width: 341px;
  padding-top: 16px;
  padding-left: 17px;
  padding-right: 16px;
  padding-bottom: 17px;
  box-sizing: border-box;
  color: #5a5a5a;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.40);
  z-index: 1;
}

.search-link-wrapper:hover > .search-form,
.search-link-wrapper:focus > .search-form {
  display: block;
}

.search-form input {
  font-size: 14px;
  line-height: 24px;
  padding: 9px;
  padding-left: 12px;
  padding-bottom: 10px;
  margin-top: 5px;
  margin-bottom: 2px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.search-catalog .search-form {
  margin-left: 0;
}

.feedback-modal {
  position: fixed;
  top: 337px;
  left: 50%;
  display: none;
  margin-left: -237px;
  width: 477px;
  border-radius: 10px;
  z-index: 2;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 464px;
  font-size: 0;
  border: 0;
  background: transparent;
}

.modal-show {
  display: block;
  animation: superscale 1s;
}

.modal-close:before {
  content: "";
  position: absolute;
  top: 15px;
  left: 442px;
  width: 22px;
  height: 22px;
  cursor: pointer;
  background-image: url("../img/cross-big.svg");
  background-repeat: no-repeat;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.overlay-show {
  display: block
}

.feedback-form {
  position: relative;
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 26px;
  padding-bottom: 28px;
  box-sizing: border-box;
  color: #5a5a5a;
  background-color: #f8f7f4;
  border-radius: 10px;
}

.feedback-form h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #000000;
  margin: 0;
}

.feedback-form input {
  font-size: 14px;
  line-height: 24px;
  padding: 9px;
  padding-left: 14px;
  padding-bottom: 7px;
  margin-top: 20px;
  margin-bottom: 0px;
  width: 266px;
  box-sizing: border-box;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.feedback-form textarea {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  padding: 9px;
  padding-left: 14px;
  padding-bottom: 7px;
  margin-top:20px;
  margin-bottom: 22px;
  width: 100%;
  min-height: 153px;
  box-sizing: border-box;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.feedback-form div {
  display: flex;
  justify-content: flex-end;
}

.feedback-form .button {
  padding: 11px 23px;
  margin: -1px;
}

.backlight {
  height: 656px;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%);
  background-repeat: no-repeat;
}

.basket-modal {
  position: fixed;
  top: 60px;
  left: 50%;
  margin-left: 33px;
  display: none;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 12px;
  padding-top: 17px;
  padding-bottom: 21px;
  width: 540px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.40);
  z-index: 4px;
}

.ice-cream a {
  color: #000000;
}

.basket-table {
  padding-right: 16px;
  padding-bottom: 2px;
  color: #000000;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  box-shadow: 0 1px 0 0 #cacac7;
}

.close1,
.close2 {
  position: relative;
  font-size: 0;
  border: none;
  outline: none;
  background: none;
}

.close1:after {
  content: "";
  position: absolute;
  top: -16px;
  left: 4px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  background-image: url("../img/cross-small.svg");
  background-repeat: no-repeat;
}

.close2:before {
content: "";
position: absolute;
top: -16px;
left:4px;
width: 14px;
height: 14px;
cursor: pointer;
background-image: url("../img/cross-small.svg");
background-repeat: no-repeat;
}

.basket-modal p {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  margin: 0;
  margin-right: 2px;
  padding-top: 14px;
  padding-bottom: 11px;
  color: #000000;
}

.ice-cream {
  width: 232px;
  padding-left: 10px;
  padding-bottom:12px;
}

.basket-table tr:nth-of-type(2) .ice-cream {
  padding-top: 13px ;
}

.basket-table img {
  padding-left: 13px;
  padding-top: 0px;
  padding-bottom: 9px;
}

.basket-table td:nth-of-type(4) {
  padding-left: 12px;
  padding-bottom: 13px;
}

.basket-table td:nth-of-type(4) span {
  color: #999999;
}

.basket-table td:nth-of-type(5) {
  padding-left: 24px;
  padding-bottom: 13px;
  padding-top: 1px;
}

.output-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.basket-modal .button {
  margin: 0;
  padding: 11px 15px;
  margin-right: 2px;
  margin-top: 3px;
}

.hidden {
  font-size: 0;
}

.centerer {
    display: inline-block;
    vertical-align: middle;
}

.modal-input {
  color: #000000;
  font-weight: 700;
  box-sizing: border-box;
  height: 44px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  outline: none;
}

.modal-input:hover {
  border: 2px solid #c7c6c5;
}

.modal-input:focus {
  border: 2px solid #8fbdec;
}

.modal-input::placeholder {
  font-weight: 400;
}

.modal-error {
  animation: shake 0.6s;
}

@keyframes superscale {
  0% {
    transform: scale3d(0, 0, 0);
    opacity: 0;
  }

  100% {
    transform: scale3d(1, 1, 1) ;
    opacity: 1;
  }
}


@keyframes shake {
  0% {
    transform: scale3d(1, 1, 1) ;
    opacity: 1;
  }

  50% {
    transform: scale3d(0.8, 0.8, 0.8) ;
    opacity: 0.5;
  }

  100% {
    transform: scale3d(1, 1, 1) ;
    opacity: 1;
  }
}