body {
  margin: 0;
  padding: 0;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
}

.main-header {
  outline: 3px solid green;
  display: flex;
  flex-direction: column;
}

.container {

  margin: 0 auto;
  padding: 0 27px;
  width: 1200px;
  box-sizing: border-box;
}

.logo-menu-wrapper {
  display: flex;
}

.main-menu-element:not(:last-of-type) {
  margin-right: 25px;
}

.main-header-logo {
  outline: 3px solid green;
  width: 155px;
  height: 75px;
  margin-right: 25px;
  align-items: center;
}

.site-navigation {
  outline: 3px solid green;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.user-navigation {
  display: flex;
  outline: 3px solid green;
  margin: 0;
  padding:0;
  align-items: center;

  position: relative;
}

.user-navigation li:not(:last-of-type){
  margin-right: 10px;
}

.contact-breadcrumbs-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.breadcrumbs {
  outline: 2px solid violet;
}

.breadcrumbs ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.contact-wrapper {
  outline: 3px solid green;
  width: 267px;
}

.contact-wrapper p {
  text-align: end;
}

.background-blue {
  background-color: #8996a6;
}

.background-beige {
  background-color: #9d8b84;
}

.background-olive {
  background-color: #849d8f;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-menu {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;

  outline: 3px solid red;
  display: flex;
  justify-content: space-between;
}

.site-navigation,
.site-navigation ul,
.user-navigation {
  list-style: none;
}

.site-navigation ul {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.main-menu-element > a {
  box-shadow: 0 1px 0 0 #adbdb4;
}

.main-menu-element:hover > a,
.main-menu-element:focus > a,
.main-menu-element:active > a {
  box-shadow: none;
}

.main-menu-element > a:hover,
.main-menu-element > a:focus,
.main-menu-element > a:active {
  color: #000000;

}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
  text-decoration: none;
}

.site-navigation li:hover,
.site-navigation li:focus,
.site-navegation li:active {
  background-color: #ffffff;
}

.site-navigation li:hover a,
.site-navigation li:focus a {
  color: #000000;
}

.sub-menu {
  position: absolute;
  display: none;
  margin: 0;
  bottom: -80px;
}

.sub-menu-container {
  position: relative;
}

.sub-menu-container:hover .sub-menu,
.sub-menu-container:focus .sub-menu {
  display: block;
}

.site-navigation ul li:hover,
.site-navigation ul li:focus {
  background-color: #fbded7;
}

.site-navigation ul li:active {
  background-color: #f6b5a5
}

.site-navigation .active {
  color: #ffffff;
  background-color: #d07058;
}

.user-navigation a{
  background-color: #a1b4a9;
  text-decoration: none;
  display: inline-block;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #000000;
  background-color: #ffffff;
}

.site-navigation .active-item,
.main-header p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.user-navigation .search {
  width: 50px;
  height: 33px;
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
}

.user-navigation .login {
  width: 50px;
  height: 33px;
  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
}

.user-navigation .basket {
  width: 50px;
  height: 33px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
}

.main-header .phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}

.content {
  margin-top: -83px;
}

.slider-item img {
  display: block;
  margin: 0 auto;
}

.slider-item h2 {
  text-align: center;
}

.slider-item .button {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 280px;
  height:64px;
  border-radius: 32px;
}

.button {
  display: inline-block;
  margin: 0 auto;


  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  color: #ffffff;
  background-image: linear-gradient(to bottom, rgb(231, 74, 53), rgb(242, 104, 67));
  text-decoration: none;
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-image: linear-gradient(to bottom, rgba(231, 74, 53, 0.8), rgba(242, 104, 67, 0.8));
}

.slider-item .button {
  font-size: 32px;
  line-height: 44px;

}

form {
  outline: 2px dashed purple;
}

.catalog-item a {
  text-decoration: none;
}

.catalog-item h4 {
  display: inline;
  color: #ffffff;
  box-shadow: 0 1px 0 0 #adbdb4;
}

.catalog-item h4:hover,
.catalog-item h4:focus,
.catalog-item h4:active {
  color: #ffbc9e;
  box-shadow: 0 1px 0 0 #a7a294;
}

.slider h2 {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
}

.offers {
  display: flex;
  justify-content: space-between;
}

.offers h3 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.offers p {
  font-size: 18px;
  font-weight: 700;
}

.offers-item {
  width: 560px;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.offers-item-crimson {
  background-image: url("../img/crimson-background.jpg");
  background-color: #b65972;
}

.offers-item-chockolate {
  background-image: url("../img/chockolate-background.jpg");
  background-color: #654336;
}

.catalog{
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.catalog-item {
  width: 267px;
  margin-right: 26px;
}

.catalog-item:nth-of-type(4n) {
  margin-right: 0;
}

.catalog-item .button {
  display: none;
}

.catalog-item:hover .button {
  display: inline-block;
  vertical-align: middle;
}

.catalog-item-image {
  position: relative;
}

.catalog-item-image img {
  border-radius: 50%;
}

.catalog-item-hit .catalog-item-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;

}

.catalog-item-price b {
  font-size: 45px;
  line-height: 45px;
}

.catalog-item-price span {
  line-height: 45px;
  font-weight: 700;
}

.catalog-item-title {
  font-weight: 500;
}

.features {
  margin-bottom: 40px;
  background-image: url("../img/wafer-background.jpg");
  background-repeat: no-repeat;
  background-color: #ebdfc7;
  border-radius: 18px;
}

.features h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
}

.features-list {
  list-style: none;
  color: #000000;
}

.features-list li{
  position: relative;
}

.feature-item1::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
}

.feature-item2::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
}

.feature-item3::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
}

.feature-item4::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
}

.news-subscribe-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.news-in-blog {
  width: 560px;

  font-weight: 500;
  color: #323232;
  background-image: url("../img/strawberry-background1.jpg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  border-radius: 14px;
}

.news-in-blog a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.news-in-blog a:hover,
.news-in-blog a:focus,
.news-in-blog a:active {
  color: #e84d37;
}

.subscribe {
  width: 560px;
  background-image: url("../img/email-background.jpg");
  background-repeat: no-repeat;
  background-color: #f8f7f4;
  border-radius: 15px;
}

.subscribe p {
  color: #5a5a5a;
}

.map {
  position: relative;
  margin: 0 -27px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-color: #f7f1d9;
  
}

.map::after{
  content: "";
  position: absolute;
  width: 80px;
  height: 140px;
  background-image: url("../img/pin.svg")
}

.address span {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
}

.address b {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
}

.address a {
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #323232;
}

.footer-wrapper {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}

.social {
  outline: 3px solid pink;
  display: flex;
  align-items: center;
  margin: 0;

  padding: 0;
  list-style: none;
  width: 267px;
}

.social li {
  margin-right: 10px;
  padding: 4px;
}

.social-btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
}

.social-btn-tw,
.social-btn-tw:active {
  background-image: url("../img/twitter.svg");
  opacity: 0.8;
}

.social-btn-tw::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  opacity: 0.5;
  left: -4px;
  top: -4px;
}

.social-btn-tw:hover::before,
.social-btn-tw:focus::before,
.social-btn-tw:active::before {
  opacity: 0.7;
}

.social-btn-tw:hover,
.social-btn-tw:focus {
  background-image: url("../img/twitter.svg");
  opacity: 1;
}



.social-btn-inst,
.social-btn-inst:active {
  background-image: url("../img/instagram.svg");
  opacity: 0.8;
}

.social-btn-inst::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  opacity: 0.5;
  left: -4px;
  top: -4px;
}

.social-btn-inst:hover::before,
.social-btn-inst:focus::before,
.social-btn-inst:active::before {
  opacity: 0.7;
}

.social-btn-inst:hover,
.social-btn-inst:focus {
  background-image: url("../img/instagram.svg");
  opacity: 1;
}


.social-btn-fb,
.social-btn-fb:active {
  background-image: url("../img/fb.svg");
  opacity: 0.8;
}

.social-btn-fb::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  opacity: 0.5;
  left: -4px;
  top: -4px;
}

.social-btn-fb:hover::before,
.social-btn-fb:focus::before,
.social-btn-fb:active::before {
  opacity: 0.7;
}

.social-btn-fb:hover,
.social-btn-fb:focus {
  background-image: url("../img/fb.svg");
  opacity: 1;
}

.social-btn-vk,
.social-btn-vk:active {
  background-image: url("../img/vk.svg");
  opacity: 0.8;
}

.social-btn-vk::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  opacity: 0.5;
  left: -4px;
  top: -4px;
}

.social-btn-vk:hover::before,
.social-btn-vk:focus::before,
.social-btn-vk:active::before {
  opacity: 0.7;
}

.social-btn-vk:hover,
.social-btn-vk:focus {
  background-image: url("../img/vk.svg");
  opacity: 1;
}

.footer-menu {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  list-style: none;
  padding-left: 105px;
  padding-right: 125px;
  margin: 25px 0;
}

.footer-menu li {
  width: 165px;
}

.footer-menu a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  box-shadow: 0 1px 0 0 #adbdb4;
}

.footer-menu a:hover,
.footer-menu a:focus,
.footer-menu a:active,
.htmlacademy:hover,
.htmlacademy:focus,
.htmlacademy:active,
.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;
  box-shadow: 0 1px 0 0 #a7a294;
}

.htmlacademy,
.breadcrumbs a {
  color: #ffffff;
  text-decoration: none;
  box-shadow: 0 1px 0 0 #adbdb4;
}

.footer-menu li:first-of-type a{
  font-weight: 700;
}

.footer-menu li:first-of-type::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 13px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
}

.htmlacademy-link {
  display: flex;
  width: 267px;
  flex-direction: column;
}

.htmlacademy-logo {
  position: relative;
  top: 15px;
  align-self: center;
}

.htmlacademy-link p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  align-self: flex-end;
}

.paginator {
  display: flex;
  justify-content: flex-end;
  box-shadow: 0 1px 0 0 #adbdb4;
  padding: 29px 0;
}

.paginator a {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 27px;
  height: 27px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

.paginator .prev {
  text-indent: 10000px;
  transform: rotate(180deg);
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.paginator .next {
  text-indent: -10000px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.arrow-disabled {
  opacity: 0.2;
}

.breadcrumbs ul {
  list-style: none;
  font-size: 14px;
  line-height: 16px;
}